streamlit==1.36.0
streamlit-option-menu==0.3.13
pandas==2.1.4
numpy==1.25.0
requests==2.32.5
python-dotenv==1.0.1
groq==0.11.0
langdetect==1.0.9
mysql-connector-python==8.2.0
reportlab==4.0.7
translate==3.6.1
firebase-admin==6.4.0
